#container {
	width: 1000px;
	margin-top: 100px; 
	margin-left: auto; 
	margin-right: auto;
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.item {
    margin: 5px;
	padding: 5px;
	background: #424242
	color: #FFF
	display: inline;
	box-shadow: 0 5px 5px #eee;
    -webkit-transition-property: left, right, top;
    -moz-transition-property: left, right, top;
    -ms-transition-property: left, right, top;
    -o-transition-property: left, right, top;
    transition-property: left, right, top;
}

#infscr-loading {
    margin-left: -100px;
    width: 200px;
    position: fixed;
    left: 50%;
    bottom: 10px;
    text-align: center;
}
