<html>
<head>
<title>template function test</title>
</head>
<body>
<form action="/genreid/" method="post">
<input type="text" name="genreId">
<input type="submit" value="Submit">
</form>
    <table border="1">
    {% for key,value in message.items() %}
        <tr>
            <td>{{key}}</td>
        </tr>
            {%if len(value) %}
                {% for k in value[0].keys() %}
                    <td>{{k}}</td>
                {% end %}
                {% for l in value %}
                    <tr>
                    {% for k,v in l.items() %}
                        {% if k == "genreName" %}
                            <td><a href="/genreid/{{l["genreId"]}}">{{v}}</a></td>
                        {% else %}
                            <td>{{v}}</td>
                        {% end %}
                    {% end %}
                    </tr>
                {% end %}
            {% end %}
    {% end %}
    </table>
</form>
</body>
</html>
