<html>
<head>
<meta http-equiv="Content-Type" content="image/jpeg; charset=utf-8" />
<title>template function test</title>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script type="text/javascript" src="{{ static_url("js/jquery.masonry.min.js")}}"></script>
<script type="text/javascript" src="{{ static_url("js/jquery.infinitescroll.min.js")}}"></script>
<link rel="stylesheet" href="{{static_url('css/masonry.css')}}" type="text/css"/>

<script type="text/javascript">
  $(function(){
    var $container = $('#container');
    $container.imagesLoaded(function(){
      $container.masonry({
        itemSelector : '.item',
      });
    });
	
	$container.infinitescroll({
		navSelector		: '#page-nav',
		nextSelector	: '#page-nav a:first',
		itemSelector	: '.item',
		debug			: true,
		loading:{
			finishedMsg: 'Nothing!!',
			img: 'http://i.imgur.com/6RMhx.gif',
		}
	},
	
	function( newElements ){
		var $newElems = $( newElements ).css({ opacity: 0 });
		$newElems.imagesLoaded(function(){
			$newElems.animate({ opacity: 1});
			$container.masonry( 'appended', $newElems, true);		
		});
	});	
  });
</script>

</head>
<body>
<nav id="page-nav">
	<a href="?page=2"></a>
</nav>
<div id="container">
{% if filename_list %}
    {% for filename in filename_list %}
        <div class="item">
        <a href="/view/{{ filename }}.jpg"><img src="/view/{{ filename }}.jpg?_re=200x300"/></a><p>
        </div>
    {% end %}
{% end %}
</div>
</body>
</html>
