<html>
<head>
<meta http-equiv="Content-Type" content="image/jpeg; charset=utf-8" />
<title>template function test</title>
</head>
<body>
<img src="{{ static_url("tornado-icon.png") }}" alt="tornado" />
<form action="/" method="post">
<input type="text" name="message">
<input type="submit" value="Submit">
</form>
{% if filename_list %}
    {% for filename in filename_list %}
        <a href="/view/{{ filename }}.jpg"><img src="/view/{{ filename }}.jpg"/></a><p>
    {% end %}
{% end %}

</body>
</html>
