<html>
<head>
<meta http-equiv="Content-Type" content="image/jpeg; charset=utf-8" />
<title>template function test</title>
<script type="text/javascript" src="{{ static_url("js/jquery-1.8.0.min.js")}}"></script>
<script type="text/javascript" src="{{ static_url("js/jquery.masonry.min.js")}}"></script>
<script type="text/javascript" src="{{ static_url("js/jquery.infinitescroll.min.js")}}"></script>

<script type="text/javascript">
  $(function(){
    var $container = $('#container');
    $container.imagesLoaded(function(){
      $container.masonry({
        itemSelector: '.box',
      });
    });
  });
</script>

<style type="text/css">
.box {
    width: 220px;
    height: 300px;
    margin: 5px;
    float: left;
    border: 1px solid #ccc;
    background: #eee;
    box-shadow: 0 2px 1px #eee;
}
</style>
</head>
<body>
<div id="container">
{% if filename_list %}
        {% set colnum = 1 %}
    {% for filename in filename_list %}
        {% set colnum = colnum + 1 %}
        <div class="box">
        <a href="/view/{{ filename }}.jpg"><img src="/view/{{ filename }}.jpg?_re=200x300"/></a><p>
        </div>
    {% end %}
{% end %}
</div>
</body>
</html>
