<html>
<head>
    <title>Login</title>
</head>
<body>
    <div id="bar">
        <div id="container">
            <!-- Login Starts Here -->
            <div id="loginContainer">
                <a href="#" id="loginButton"><span>Login</span><em></em></a>
                <div style="clear:both"></div>
                <div id="loginBox">                
                    <form id="loginForm">
                        <fieldset id="body">
                            <fieldset>
                                <label for="email">Email Address</label>
                                <input type="text" name="email" id="email" />
                            </fieldset>
                            <fieldset>
                                <label for="password">Password</label>
                                <input type="password" name="password" id="password" />
                            </fieldset>
                            <input type="submit" id="login" name="loging" value="Sign in" />
                            <label for="checkbox"><input type="checkbox" id="checkbox" />Remember me</label>
                        </fieldset>
                        <span><a href="#">Forgot your password?</a></span>
                    </form>
                </div>
            </div>
            <!-- Login Ends Here -->
        </div>
    </div>

    <hr/>
    
    <h1>please login:</h1>
    <br/>


     <form id="login_form" action="login" method="post">
        <label class="grey" for="log">Email Address</label><br />
        <input type="text" name="email" id="email"><br>
        <label class="grey" for="pwd">Password</label><br />
        <input type="password" name="password" id="password"><br />
        <input type="submit" id="loginbtn" name="login" value="LOGIN" class="button"><br />
    </form>

    <br/>
    <a href='register'>register</a>
    <br/>
    <a href='twitter_login'> Login with Twitter </a> <br/>
    <a href='facebook_login'> Login with Facebook </a> <br/>

</body>

</html>
