<html>
<head>
<title>template function test</title>
</head>
<body>
<form action="/searchgenreid/" method="post">
<input type="text" name="genreId">
<input type="submit" value="Submit">
</form>
{% if message %}
    <table border="1">
    {% for k in message[0].keys() %}
        <td>{{k}}</td>
    {% end %}
    {% for mgs in message %}
        <tr>
        {% for k,v in mgs.items() %}
            {% if k == "genreName" %}
                <td><a href="/searchgenreid/{{mgs["genreId"]}}">{{v}}</a></td>
            {% else %}
                <td>{{v}}</td>
            {% end %}
        {% end %}
        </tr>
    {% end %}
    </table>
{% end %}
</form>
</body>
</html>
