<html>
<head>
<meta http-equiv="Content-Type" content="image/jpeg; charset=utf-8" />
<title>template function test</title>
<script type="text/javascript" src="{{ static_url("js/jquery.masonry.min.js")}}"></script>
<script type="text/javascript" src="{{ static_url("js/jquery-1.8.0.min.js")}}"></script>
<script type="text/javascript">
$(function() {
    var $container = $('#container');
    $container.imagesLoaded( function(){
        $container.masonry({
            itemSelector: '.item'
        });
    });
/*
    $('#demo').masonry({
        singleMode: true,
        itemSelector: '.box'
        columnWidth: 240,
        itemSelector: '.box:visible',
        resizeable: true,
        animate: true,

    });
*/
})
</script>
<style type="text/css">

.box {
  margin: 5px;
  padding: 5px;
  background: #D8D5D2;
  font-size: 11px;
  float: left;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
.col1 { width: 80px; }
</style>
</head>
<body>
<div id="demo" class="wrap">
    {% if iterms %}
            <h2>Iterms List</h2>
            {% set colnum = 1 %}
            {% for iterm in iterms %}
               {% set colnum = colnum + 1 %}
               {% for k in iterm.keys() %}
                   {% if k == "_id" %}
                       <a href="/view/{{ iterm[k] }}.jpg"><img src="/view/{{ iterm[k] }}.jpg?_re=200x300"/></a><p> 
                   {% else %}
                       {{k}}=>{{iterm[k]}}<br/>
                   {% end %}
               {% end %}
            {% end %}
    {% end %}
</div>
</body>
</html>
