<html>
<head>
<meta http-equiv="Content-Type" content="image/jpeg; charset=utf-8" />
<title>template function test</title>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script type="text/javascript" src="{{ static_url("js/jquery.masonry.min.js")}}"></script>
<script type="text/javascript" src="{{ static_url("js/jquery.infinitescroll.min.js")}}"></script>
<script type="text/javascript" src="{{ static_url("js/bipapa.js")}}"></script>
<link rel="stylesheet" href="{{static_url('css/bipapa.css')}}" type="text/css"/>
</head>
<body>
<nav id="page-nav">
	<a href="?page=2"></a>
</nav>
<div id="container">
    {% if iterms %}
        {% for iterm in iterms %}
		    <div class="item">
            <a href="{{ iterm["itemUrl"] }}"><img src="/view/{{ iterm["_id"] }}.jpg?_re=200x300"/></a><p>
		    <ol>Price is {{ iterm["itemPrice"] }}</ol>
		    </div>
        {% end %}
    {% end %}
</div>
</body>
</html>
